.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color:#333;

    h1{
        font-family: "Gabriola";
    }
    .profil{
        margin-right: 5px;
    }
}